In [1]:
import math

In [2]:
math.factorial(12)

479001600

In [3]:
a = math.factorial(100)
print(a)
len(str(a))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

158

In [4]:
type(3.123)

float

In [5]:
type(3e8)

float

In [6]:
int(1.232)

1

In [7]:
type(None)

NoneType

In [8]:
a=2
b=3
a<b

True

In [9]:
bool([])

False

In [10]:
bool("")

False

In [11]:
bool("spam")

True

In [12]:
bool("23")

True

In [13]:
#conditional statement
if True:
    print("its true")

its true

In [14]:
if bool("3"):
    print("yess!!!")

yess!!!

In [15]:
#while loops
c = 5
while c!=0:
    print(c)
    c-=1

5
4
3
2
1

In [16]:
type('viahrut')

str

In [17]:
"first " "viahrut"

'first viahrut'

In [18]:
print('this\n is \n a\n string')

this
 is
 a
 string

In [19]:
path = r'c:\users\vishrut'#raw strings doesnot requires escape sequence
path

'c:\\users\\vishrut'

In [20]:
c = 'vishrut'
c.capitalize()

'Vishrut'

In [21]:
c

'vishrut'

In [22]:
name = 'how are you you are about od do something great'
data = name.encode('utf8')

In [23]:
data

b'how are you you are about od do something great'

In [24]:
eng = data.decode('utf8')
eng

'how are you you are about od do something great'

In [25]:
eng == name

True

In [26]:

from urllib.request import urlopen

In [27]:
story = urlopen('https://sixty-north.com/c/t.txt')
story_words = []
for line in story:
    line_words = line.split()
    for word in line_words:
        story_words.append(word)
story.close()
story_words

[b'It',
 b'was',
 b'the',
 b'best',
 b'of',
 b'times',
 b'it',
 b'was',
 b'the',
 b'worst',
 b'of',
 b'times',
 b'it',
 b'was',
 b'the',
 b'age',
 b'of',
 b'wisdom',
 b'it',
 b'was',
 b'the',
 b'age',
 b'of',
 b'foolishness',
 b'it',
 b'was',
 b'the',
 b'epoch',
 b'of',
 b'belief',
 b'it',
 b'was',
 b'the',
 b'epoch',
 b'of',
 b'incredulity',
 b'it',
 b'was',
 b'the',
 b'season',
 b'of',
 b'Light',
 b'it',
 b'was',
 b'the',
 b'season',
 b'of',
 b'Darkness',
 b'it',
 b'was',
 b'the',
 b'spring',
 b'of',
 b'hope',
 b'it',
 b'was',
 b'the',
 b'winter',
 b'of',
 b'despair',
 b'we',
 b'had',
 b'everything',
 b'before',
 b'us',
 b'we',
 b'had',
 b'nothing',
 b'before',
 b'us',
 b'we',
 b'were',
 b'all',
 b'going',
 b'direct',
 b'to',
 b'Heaven',
 b'we',
 b'were',
 b'all',
 b'going',
 b'direct',
 b'the',
 b'other',
 b'way',
 b'in',
 b'short',
 b'the',
 b'period',
 b'was',
 b'so',
 b'far',
 b'like',
 b'the',
 b'present',
 b'period',
 b'that',
 b'some',
 b'of',
 b'its',
 b'noisiest',
 b'authorities',
 b'insisted',
 b'on',
 b'its',
 b'being',
 b'received',
 b'for',
 b'good',
 b'or',
 b'for',
 b'evil',
 b'in',
 b'the',
 b'superlative',
 b'degree',
 b'of',
 b'comparison',
 b'only']

In [28]:
story = urlopen('https://sixty-north.com/c/t.txt')
story_words = []
for line in story:
    line_words = line.decode('utf8').split()
    for word in line_words:
        story_words.append(word)
story.close()
story_words

['It',
 'was',
 'the',
 'best',
 'of',
 'times',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times',
 'it',
 'was',
 'the',
 'age',
 'of',
 'wisdom',
 'it',
 'was',
 'the',
 'age',
 'of',
 'foolishness',
 'it',
 'was',
 'the',
 'epoch',
 'of',
 'belief',
 'it',
 'was',
 'the',
 'epoch',
 'of',
 'incredulity',
 'it',
 'was',
 'the',
 'season',
 'of',
 'Light',
 'it',
 'was',
 'the',
 'season',
 'of',
 'Darkness',
 'it',
 'was',
 'the',
 'spring',
 'of',
 'hope',
 'it',
 'was',
 'the',
 'winter',
 'of',
 'despair',
 'we',
 'had',
 'everything',
 'before',
 'us',
 'we',
 'had',
 'nothing',
 'before',
 'us',
 'we',
 'were',
 'all',
 'going',
 'direct',
 'to',
 'Heaven',
 'we',
 'were',
 'all',
 'going',
 'direct',
 'the',
 'other',
 'way',
 'in',
 'short',
 'the',
 'period',
 'was',
 'so',
 'far',
 'like',
 'the',
 'present',
 'period',
 'that',
 'some',
 'of',
 'its',
 'noisiest',
 'authorities',
 'insisted',
 'on',
 'its',
 'being',
 'received',
 'for',
 'good',
 'or',
 'for',
 'evil',
 'in',
 'the',
 'superlative',
 'degree',
 'of',
 'comparison',
 'only']

In [29]:
def nt(rad,n):
    return rad**(a/n)

In [30]:
nt(32,4)

5.656854249492381

In [31]:
x = 4
y = 5
x,y = y,x
print(x)
print(y)

5
4

In [32]:
id(x)

140722807677456

In [33]:
id(x) is id(y)

False

In [34]:
def banner(message,border="*"):
    line = border * len(message)
    print(line)
    print(message)
    print(line)

In [35]:
banner("my name is vishrut Varshikar")

****************************
my name is vishrut Varshikar
****************************

In [36]:
banner("hello there","-")

-----------
hello there
-----------

In [37]:
banner(border=".",message="hello how are you")

.................
hello how are you
.................

In [38]:
import time

In [39]:
time.ctime()

'Sun Sep 20 11:06:44 2020'

In [40]:
def show_default(arg=time.ctime()):
    print(arg)

In [41]:
show_default()

Sun Sep 20 11:06:45 2020

In [42]:
show_default()

Sun Sep 20 11:06:45 2020

In [43]:
def add_spam(menu=[]):
    menu.append("spam")
    return menu

In [44]:
breakfast = ['egg','chicken']

In [45]:
add_spam(breakfast)

['egg', 'chicken', 'spam']

In [46]:
lunch = ['panner tikka masala']

In [47]:
add_spam(lunch)

['panner tikka masala', 'spam']

In [48]:
add_spam()

['spam']

In [49]:
add_spam()

['spam', 'spam']

In [50]:
add_spam()

['spam', 'spam', 'spam']

In [51]:
#to stop above we use immutable objects
def add_spam(menue=None):
    if menue is None:
        menue = []
    menue.append('spam')
    return menue

In [52]:
add_spam()

['spam']

In [53]:
add_spam()

['spam']

In [54]:
add_spam()

['spam']

In [55]:
#scopes in python
"""LEGB - Rule"""

'LEGB - Rule'

In [56]:
count = 0
def show_count():
    print(count)

In [57]:
def set_count(c):
    count = c

In [58]:
show_count()

0

In [59]:
set_count(5)
show_count()

0

In [60]:
def set_count(c):
    global count
    count = c

In [61]:
show_count()

0

In [62]:
set_count(5)
show_count()

5

In [63]:
dir(word)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
#Tuples - immuatable

In [65]:
t = ("vishrut","varshikar")

In [66]:
t[0]

'vishrut'

In [67]:
for iteam in t:
    print(iteam)

vishrut
varshikar

In [68]:
len(t)

2

In [69]:
t + (3343,'good')

('vishrut', 'varshikar', 3343, 'good')

In [70]:
t*3

('vishrut', 'varshikar', 'vishrut', 'varshikar', 'vishrut', 'varshikar')

In [71]:
a = ((1,2),(3,4),(5,6))
a[2][1]

6

In [72]:
p = 1,2,3,4,5,6
p

(1, 2, 3, 4, 5, 6)

In [73]:
type(p)

tuple

In [74]:
def minmax(items):
    return min(items),max(items)

In [75]:
minmax([22,33,55,66,98,76,345])

(22, 345)

In [76]:
#tupple unpacking
lower,upper = minmax([22,43,34,56,43,44])

In [77]:
lower

22

In [78]:
upper

56

In [79]:
(a,(b,(c,d))) = (4,(3,(2,1)))

In [80]:
a

4

In [81]:
b

3

In [82]:
c

2

In [83]:
d

1

In [84]:
a = 'jelly'
b = 'beam'
a,b = b,a

In [85]:
a

'beam'

In [86]:
b

'jelly'

In [87]:
4 in (92,3,4,5,)

True

In [88]:
#string - immutable
color = ';'.join(['1234','4321','5678','8765'])
color

'1234;4321;5678;8765'

In [89]:
color.split(';')

['1234', '4321', '5678', '8765']

In [90]:
"veshrut is good".partition("is")

('veshrut ', 'is', ' good')

In [91]:
#.format
"the age of {0} is {1}".format('vishrut',20)

'the age of vishrut is 20'

In [92]:
"My name is {0} and i am {1} year old and was born is {2}".format('vishrut',20,'Indore')

'My name is vishrut and i am 20 year old and was born is Indore'

In [93]:
"galactic position x={pos[0]},y={pos[1]},z={pos[2]}".format(pos=(65.2,23.4,82.2))

'galactic position x=65.2,y=23.4,z=82.2'

In [94]:
import math
"math constant: pi={m.pi},e={m.e}".format(m=math)

'math constant: pi=3.141592653589793,e=2.718281828459045'

In [95]:
"math constant: pi={m.pi:.3f},e={m.e:.3f}".format(m=math)

'math constant: pi=3.142,e=2.718'

In [96]:
value = 4*20
'The value is {value}'.format(value=value)

'The value is 80'

In [97]:
#f-string
import datetime
f'The current time is {datetime.datetime.now().isoformat()}'

'The current time is 2020-09-20T11:06:53.534410'

In [98]:
#range
l = int(input("Enter a number: "))
for i in range(1,11):
    print(l,'X',i,'=',l*i)

Enter a number: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

In [99]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [100]:
s = [0,1,2,3,4,5]
for i in s:
    print(i)

0
1
2
3
4
5

In [101]:
t = [1,2,3,4,5,6,7]
for p in enumerate(t):
    print(p)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)

In [102]:
#by tuple unpacking
for i, v in enumerate(t):
    print(f"i = {i}, v = {v}")

i = 0, v = 1
i = 1, v = 2
i = 2, v = 3
i = 3, v = 4
i = 4, v = 5
i = 5, v = 6
i = 6, v = 7

In [103]:
l = [1,2,3,4,5,6,7]
l[::-1]#slicing of list

[7, 6, 5, 4, 3, 2, 1]

In [104]:
[0]*9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [105]:
d = [1,44,35]
d.reverse()
d

[35, 44, 1]

In [106]:
d.sort()
d

[1, 35, 44]

In [107]:
d.sort(reverse=True)
d

[44, 35, 1]

In [108]:
names = [('vishrut',20),('ritu',24),('soni',26)]
d = dict(names)
d

{'vishrut': 20, 'ritu': 24, 'soni': 26}

In [109]:
#copy mathod
d = dict(gold=22,indigo=99,khkdh=37)
e = d.copy()
e

{'gold': 22, 'indigo': 99, 'khkdh': 37}

In [110]:
g = dict(vishrut=20,ritu=24,soni=26)
e.update(g)
e

{'gold': 22, 'indigo': 99, 'khkdh': 37, 'vishrut': 20, 'ritu': 24, 'soni': 26}

In [111]:
del e['indigo']
e

{'gold': 22, 'khkdh': 37, 'vishrut': 20, 'ritu': 24, 'soni': 26}

In [112]:
e['hello'] = [1,2]
from pprint import pprint as pp
pp(e)

{'gold': 22,
 'hello': [1, 2],
 'khkdh': 37,
 'ritu': 24,
 'soni': 26,
 'vishrut': 20}

In [113]:
#set-mutable

In [114]:
s = {1,22,333,444}
type(s)

set

In [115]:
22 in s

True

In [116]:
22 not in s

False

In [117]:
s.add(2222)
s

{1, 22, 333, 444, 2222}

In [118]:
s.update([123])
s

{1, 22, 123, 333, 444, 2222}

In [119]:
#Errors and Exception handeling

In [120]:
DIGIT_MAP = {
    'Zero' : '0',
    'one' : '1',
    'two':'2',
    'three':'3',
    'four':'4',
    'five':'5',
    'six':'6',
    'seven':'7',
    'eight':'8',
    'nine': '9',
}
def convert(s):
    number = ''
    for token in s:
        number += DIGIT_MAP[token]
    x = int(number)
    return x

In [121]:
convert("two three four five".split())

2345

In [122]:
DIGIT_MAP = {
    'Zero' : '0',
    'one' : '1',
    'two':'2',
    'three':'3',
    'four':'4',
    'five':'5',
    'six':'6',
    'seven':'7',
    'eight':'8',
    'nine': '9',
}
def convert(s):
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        x = int(number)
        print(f"conversion succeeded! x = {x}")
    except( KeyError,TypeError):
        print("conversion failed!")
        x = -1
    return x

In [123]:
convert("three four".split())

conversion succeeded! x = 34

34

In [124]:

convert("elevem two".split())

conversion failed!

-1

In [125]:
convert(231)

conversion failed!

-1

In [126]:
import sys #us e to print standad error
DIGIT_MAP = {
    'Zero' : '0',
    'one' : '1',
    'two':'2',
    'three':'3',
    'four':'4',
    'five':'5',
    'six':'6',
    'seven':'7',
    'eight':'8',
    'nine': '9',
}
def convert(s):
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        return int(number)
    except( KeyError,TypeError) as e:
        print(f"Conversion error: {e!r}", file=sys.stderr)
        return -1

In [127]:
convert("fail".split())

Conversion error: KeyError('fail')

-1

In [128]:
import sys #us e to print standad error
DIGIT_MAP = {
    'Zero' : '0',
    'one' : '1',
    'two':'2',
    'three':'3',
    'four':'4',
    'five':'5',
    'six':'6',
    'seven':'7',
    'eight':'8',
    'nine': '9',
}
def convert(s):
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        return int(number)
    except( KeyError,TypeError) as e:
        print(f"Conversion error: {e!r}", file=sys.stderr)
        raise #reraise the exception

In [129]:
from math import log
def string_log(S):
    v = convert(s)
    return log(v)

In [130]:
string_log("ouch!".split())

Conversion error: KeyError(1)

KeyError: 1

In [131]:
def square_root(x):
    try:
        x = int((x)**(1/2))
        print("squarerrot is successufully found")
    except TypeError:
        print("oops! conversion failed")
        return -1
    return x

In [132]:
square_root(0)

squarerrot is successufully found

0

In [133]:
square_root(-1)

oops! conversion failed

-1

In [134]:
square_root("hi")

oops! conversion failed

-1

In [135]:
## itteration

In [137]:
word = "vishti is s good boy snd id doing it mtrcj fro univerdity".split()
word

['vishti',
 'is',
 's',
 'good',
 'boy',
 'snd',
 'id',
 'doing',
 'it',
 'mtrcj',
 'fro',
 'univerdity']

In [138]:
[len(words) for words in word]

[6, 2, 1, 4, 3, 3, 2, 5, 2, 5, 3, 10]

In [139]:
# above code explanation
length = []
for words in word:
    length.append(len(words))
length

[6, 2, 1, 4, 3, 3, 2, 5, 2, 5, 3, 10]

In [140]:
from math import factorial
f = [len(str(factorial(x))) for x in range(20)]
f

[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18]

In [141]:
t = {len(str(factorial(x))) for x in range(20)}
t

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18}

In [143]:
country_to_capital = {'usa':'Washingtone','india':'delhi','japan':'tokyo','australia':'canberra','canada':'ottawa'}

In [144]:
capital_to_country = {capital:country for country, capital in country_to_capital.items()}

In [145]:
from pprint import pprint as pp
pp(capital_to_country)

{'Washingtone': 'usa',
 'canberra': 'australia',
 'delhi': 'india',
 'ottawa': 'canada',
 'tokyo': 'japan'}

In [1]:
from math import sqrt

In [2]:
def prime(x):
    if x<2:
        return False
    for i in range(2,int(sqrt(x))+1):
        if x%i == 0:
            return False
    return True

In [3]:
[x for x in range(101) if prime(x)]

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [4]:
# iteratio protocols

In [5]:
iterable = ['spring','summer','winter','autmn']
iterator = iter(iterable)

In [6]:
next(iterator)

'spring'

In [7]:
next(iterator)

'summer'

In [8]:
next(iterator)

'winter'

In [9]:
next(iterator)

'autmn'

In [10]:
next(iterator)

StopIteration:

In [13]:
#stopping iteration with an exception
def first(iterable):
    iterator = iter(iterable)
    try:
        return next(iterator)
    except StopIteration:
        raise ValueError("iterable is empty")

In [14]:
first(["a","b","c"])

'a'

In [15]:
first({"a","b","c"})

'c'

In [16]:
#generator functions

In [17]:
def gen123():
    yield 1
    yield 2
    yield 3

In [18]:
g = gen123()
g

In [19]:
next(g)

1

In [20]:
next(g)

2

In [21]:
next(g)

3

In [22]:
for v in gen123():
    print(v)

1
2
3

In [24]:
def gen246():
    print("About to yield 2")
    yield 2
    print("about to yield 4")
    yield 4
    print("About to yield 6")
    yield 6

In [25]:
h = gen246()

In [26]:
next(h)

About to yield 2

2

In [27]:
next(h)

about to yield 4

4

In [28]:
for i in gen246():
    print(i)

About to yield 2
2
about to yield 4
4
About to yield 6
6

In [36]:
#maintaining state in generator
def take(count,iterable):
    counter = 0
    for item in iterable:
        if counter == count:
            return
        count+=1
        yield item
        
def distinct(iterable):
    seen = set()
    for item in iterable:
        if item in seen:
            continue
        yield item
        seen.add(item)
        
        
def run_pipeline():
    items = [3,6,6,2,1,1]
    for item in take(3, list(distinct(items))):
        print(item)
        
        
run_pipeline()

3
6
2
1

In [37]:
#laziness and the infinite
'''def lucas():
    yield 2
    a = 2
    b = 1
    while True:
        yield b
        a,b = b,a+b'''
#### do not run tis code as it will rn infinetely and fiil you memoruy

In [42]:
#generator expression
#(expr(item) for item in iterable)
million_square = (x*x for x in range(1,100))
million_square

In [43]:
million_square = sum(x*x for x in range(1,100))
million_square

328350

In [54]:
sum(x for x in range(101) if prime(x))

1060

In [48]:
#iteration tools
'''
itertools.islice()- perform lazy slicing of sny iterator
itertools.count()- an unbounded aritmatic sequence of intergers
'''
from itertools import islice
islice(all_primes,100)

NameError: name 'all_primes' is not defined

In [55]:
from itertools import count, islice
thousand_primes = islice((x for x in count()if prime(x)),1000)
thousand_primes

In [56]:
list(thousand_primes)[-10:]

[7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919]

In [52]:
any([False,False,True])#takes an anyiterable and tell any one is true

True

In [53]:
all([False,False,True])#tells all the values are true

False

In [57]:
any(prime(x) for x in range(1328,1361))

False

In [58]:
all(name==name.title()for name in ['london','paris','newyork'])

False

In [59]:
'''zip()- synchronize iteration across two or more iterables'''
sunday = [1,2,3,4,5,6,78]
monday = [22,33,54,67,54]
for item in zip(sunday,monday):
    print(item)

(1, 22)
(2, 33)
(3, 54)
(4, 67)
(5, 54)

In [1]:
#clases

In [2]:
"""model for aircraft flights"""
class Flight:
    
    def __init__(self,number):
        self._number = number
        
    def number(self):
        return "SN060"

In [5]:
f = Flight("SN060")

In [6]:
f._number

'SN060'

In [9]:
class Flight:
    def __init__(self,number):
        if not number[:2].isalpha():
            raise ValueError(f"No airline code in '{number}'")
        if not number[:2].isupper():
            raise VlaueError(f"Invalid airline code'{number}")

        if not (number[:2].isdigit() and int(number[:2]) <=9999):
            raise ValueError(f"Invalid route number '{number}'")
        self._number = number
    def number(self):
        return self._number
    def airline(self):
        return self._number

In [10]:
l = Flight("SN060")

ValueError: Invalid route number 'SN060'

In [11]:
l=Flight("123SDD")

ValueError: No airline code in '123SDD'

In [12]:
class Aircraft:
    def __init__(self, registration, model, num_rows, num_seats_per_row):
        self._registration = registration
        self._model = model
        self._num_rows = num_rows
        self._num_seats_per_row = num_seats_per_row
    def registration(self):
        return self._registration
    def model(self):
        return self._model
    def seating_plan(self):
        return (range(1,self._num_rows+1),"ABCDEFGHJK"[:self._num_seats_per_row])

In [13]:
a = Aircraft("F-45","skyroot A312",num_rows=40,num_seats_per_row=10)
a.registration()

'F-45'

In [15]:
a.seating_plan()

(range(1, 41), 'ABCDEFGHJK')

In [16]:
class Flight:
    """A flight with a particular passenger aircraft"""
    def __init__(self,number,aircraft):
        if not number[:2].isalpha():
            raise ValueError(f"No airline code in '{number}'")
        if not number[:2].isupper():
            raise ValueError(f"Invalid airline code '{number}'")
        if not (number[:2].isdigit() and int(number[2:])<=9999):
            raise ValueError(f"Invalid route code '{number}'")
       
        self._number = number
        self._aircraft = aircraft
        rows,sears = self._aircraft.seating_plan()
        self._seating = [None] +[{letter:None for letter in seats}for _ in rows]
        
        
    def aircraft(self):
        return self._aircraft.model()
    def number(self):
        return self._number
    def airline(self):
        return self._number[:2]

In [17]:
f = Flight("BA758",Aircraft("ddf","Airbus A332",num_rows=22,num_seats_per_row=6))

ValueError: Invalid route code 'BA758'

In [18]:
#opening a file

In [19]:
import sys
sys.getdefaultencoding()

'utf-8'

In [20]:
f = open('vv.txt',mode='wt',encoding='utf-8')
f.write('What is your name?')

18

In [21]:
f.close()

In [22]:
f = open("vv.txt",mode='rt',encoding='utf-8')
for line in f:
    print(line)
f.close()

What is your name?